[Unit]
Description=A basic service to start the client on the ROV
After=network.target

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/python3 /opt/uart.py

[Install]
WantedBy=multi-user.target
